[data-component="collapsible"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--surface-inset-base);
  border: 1px solid var(--border-weaker-base);
  transition-property: background-color, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
  border-radius: var(--radius-md);
  overflow: clip;

  [data-slot="collapsible-trigger"] {
    width: 100%;
    display: flex;
    height: 32px;
    padding: 6px 8px 6px 12px;
    align-items: center;
    align-self: stretch;
    cursor: default;
    user-select: none;
    color: var(--text-base);

    /* text-12-medium */
    font-family: var(--font-family-sans);
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-large); /* 166.667% */
    letter-spacing: var(--letter-spacing-normal);

    /* &:hover { */
    /*   background-color: var(--surface-base); */
    /* } */
    &:focus-visible {
      outline: none;
    }
    &[data-disabled] {
      cursor: not-allowed;
    }

    [data-slot="collapsible-arrow"] {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-weak);
    }
  }

  [data-slot="collapsible-content"] {
    display: grid;
    grid-template-rows: 0fr;
    transition-property: grid-template-rows, opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-easing);

    > * {
      overflow: hidden;
    }

    &[data-expanded] {
      grid-template-rows: 1fr;
    }

    &[data-closed] {
      grid-template-rows: 0fr;
    }
  }

  &[data-variant="ghost"] {
    background-color: transparent;
    border: none;

    > [data-slot="collapsible-trigger"] {
      background-color: transparent;
      border: none;
      padding: 0;

      /* &:hover { */
      /*   color: var(--text-strong); */
      /* } */
      &:focus-visible {
        outline: none;
      }
      &[data-disabled] {
        cursor: not-allowed;
      }
    }
  }

  &[data-variant="ghost"][data-scope="filetree"] {
    > [data-slot="collapsible-trigger"] {
      height: 24px;
    }
  }
}
