name: Add Contributors Label

on:
  # issues:
  #   types: [opened]

  pull_request_target:
    types: [opened]

jobs:
  add-contributor-label:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
    
    steps:
      - name: Add Contributor Label
        uses: actions/github-script@v8
        with:
          script: |
            const isPR = !!context.payload.pull_request;
            const issueNumber = isPR ? context.payload.pull_request.number : context.payload.issue.number;
            const authorAssociation = isPR ? context.payload.pull_request.author_association : context.payload.issue.author_association;

            if (authorAssociation === 'CONTRIBUTOR') {
              await github.rest.issues.addLabels({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: issueNumber,
                labels: ['contributor']
              });
            }
